@media screen and (min-width: 300px) {
    .backgroundImg{
        background-image: url(../pictures/nature-1.jpg);
        background-size: 100vw 55vw;
        background-repeat: no-repeat;
        background-position-x: center;
       
    }
    .center{
        position: relative;
        z-index: 1;
      padding: 15vh 0;
        text-align: center;
        
    }
    .navbarPic{
        border: 3px solid black;
        border-radius: 30px;
        width: 65vw;
        height: 45vw;
    }
    .position{
        justify-content: space-between;
        position: absolute;
        z-index: 2;
        top: 50%;
       }
    .position2{
        position: absolute;
        left: 20vw;
    }
    .position3{
        
        position: absolute;
        left: 65vw;
    }
    }
@media screen and (min-width: 500px) {
.backgroundImg{
    background-image: url(../pictures/nature-1.jpg);
    background-size: 100vw 60vw;
    background-repeat: no-repeat;
    background-position-x: center;
   
}
.center{
  padding: 20vh 0;
    text-align: center;
    
}
.navbarPic{
    border: 3px solid black;
    border-radius: 30px;
    width: 65vw;
    height: 45vw;
}
}
@media screen and (min-width: 750px){
    .backgroundImg{
        background-image: url(../pictures/nature-1.jpg);
        background-size: 100vw 70vw;
        background-repeat: no-repeat;
        background-position-x: center;
       
    }
    .center{
      padding: 20vh 0;
        text-align: center;
        
    }
    .navbarPic{
        border: 3px solid black;
        border-radius: 30px;
        width: 65vw;
        height: 55vw;
    }

}
@media screen and (min-width: 1000px){
    .backgroundImg{
        background-image: url(../pictures/nature-1.jpg);
        background-size: 100vw 70%;
        background-repeat: no-repeat;
        background-position-x: center;
       
    }
    .center{
      padding: 20vh 0;
        text-align: center;
        
    }
    .navbarPic{
        border: 3px solid black;
        border-radius: 30px;
        width: 65vw;
        height: 65vh;
    }
    

}
@media screen and (min-width: 1750px){
    .backgroundImg{
        background-image: url(../pictures/nature-1.jpg);
        background-size: 100vw 80%;
        background-repeat: no-repeat;
        background-position-x: center;
       
    }
    .center{
      padding: 20vh 0;
        text-align: center;
        
    }
    .navbarPic{
        border: 3px solid black;
        border-radius: 30px;
        width: 70vw;
       height: auto;
    }
    

}
