@media screen and (min-width: 300px) {
    .backgroundImg{
        background-image: url(../pictures/nature-4.jpg);
        
        background-size: 100vw 55vw;
        background-repeat: no-repeat;
        background-position-x: center;
       
    }
    .center{
        position: relative;
        z-index: 1;
      padding: 15vh 0;
        text-align: center;
        
    }
    
    .navbarPic{
        border: 4px solid black;
        border-radius: 30px;
        width: 65vw;
        height: 45vw;
    }
    .position{
        justify-content: space-between;
        position: absolute;
        z-index: 2;
        top: 50%;
       }
    .position2{
        position: absolute;
        left: 30vw;
    }
    .position3{
        
        position: absolute;
        left: 65vw;
    }
    }
@media screen and (min-width: 500px) {
.backgroundImg{
   background-size: 100vw 60vw;
   
}
.navbarPic{
    width: 65vw;
    height: 45vw;
}
}
@media screen and (min-width: 750px){
    .backgroundImg{
       background-size: 100vw 70vw
       
    }
  
    .navbarPic{
      
        width: 65vw;
        height: 55vw;
    }

}

@media screen and (min-width: 1350px){
    .backgroundImg{
    background-size: 100vw 80%;    
    }
  
    .navbarPic{
        width: 70vw;
       height: auto;
    }
    

}
